body {
  font-family: Arial, sans-serif;
}

.logo {
  width: 100px;
  height: auto;
}

header {
  background-color: bisque;
  padding: 20px;
  text-align: center;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
  padding: 15px 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.cake-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cake-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  margin: 20px;
  text-align: center;
}

button {
  background-color: #f47c27;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #f35d12;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
